<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Node Details
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Node KCJasdf123 123456</ion-card-title>
      <ion-img src="/assets/example_map.png"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p>
          number:	68877
        </p>
        <p>
          zone:	asf123
        </p>
        <p>
          position:
        </p>
        <p>
          Lat:39.000000
        </p>
        <p>
          Lon:-0.000000
        </p>
        <p>
          disponible para red mallada y estado	Yes	Working
        </p>
    </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Devices</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
    <ion-item>
      <ion-label>
        <h2>KCJasdf123rd1</h2>
        <h3>Radio</h3>
        <p>10.10.10.10</p>
      </ion-label>
    </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Links</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
    <ion-item>
      <ion-label>
        <h2>linked nodes</h2>
        <h3>KCJasdf123rd1 - KCJasdf123rd1</h3>
        <p>10.10.10.10</p>
      </ion-label>
    </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
